<nav class="navbar navbar-dark navbar-expand-lg" style="padding-left: 30px;  background-image: linear-gradient(to left, rgba(45, 6, 90, 0), rgb(139, 2, 207));">
    <a class="navbar-brand lol" href="/"style="color: azure">H.O.G</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"style="color: azure">
       
        <li class="nav-item">
          <a class="nav-link lol" href="/tournament" style="color: azure">Tournaments</a>
        </li>

        <li class="nav-item">
          <a class="nav-link lol" href="/host" tabindex="-1" aria-disabled="true" style="color: azure;">Host</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto"style="color: azure">
        
        
        <% if (!currentUser) { %>
        <li class="nav-item">
            <a class="nav-link lol" href="/register"style="color: azure">   Sign Up</a>
          </li>  
        <li class="nav-item">
            <a class="nav-link lol" href="/login"style="color: azure">Login</a>
          </li>
          <% } else { %>
           
            <li class="nav-item">
              <a class="nav-link " href="/logout"style="color: azure">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link lol1" style="color: azure">Signed in as <%= currentUser.username %></a>
            </li>
            <% } %>
      </ul>
 
    </div>
  </nav>
  <%= message %>