<%- include("partials/header") -%>
    <%- include("partials/navbar") -%>

<form action="/host" method="post">
<div class="registration-box">
    <h1>Host tournament</h1>
    <div class="textbox">
      <i class="fas fa-user"></i>
      <input type="text" name="name" placeholder="Name">
    </div>
    <div class="textbox">
        <i class="fas fa-user"></i>
        <input type="number" name="number" placeholder="Total teams">
    </div>
    <div class="textbox">
        <i class="fas fa-user"></i>
        <input type="datetime-local" name="date" placeholder="Schedule">
      </div>
      <div class="textbox">
        <i class="fas fa-user"></i>
        <input type="text" name="description" placeholder="Description">
      </div>   
      <div class="textbox">
        <i class="fas fa-user"></i>
        <input type="number" name="prizepool" placeholder="Prizepool">
      </div>  

  
    <input type="submit" class="btns" value="Submit">
  </div>
</form>
  <%- include("partials/footer") -%>