<%- include("partials/header") -%>
    <%- include("partials/navbar") -%>
</div>

<form class="row g-3 needs-validation" action="/register" method="post">
<div class="login-box">
    <h1 >Sign up</h1>
    <div class="textbox top">
      <i class="fas fa-user"></i>
      <input type="text" name = "username"placeholder="Username">
    </div>
  
    <div class="textbox bottom">
      <i class="fas fa-lock"></i>
      <input type="password" name="password" placeholder="password">
    </div>
  
    <input type="submit" class="btns top bottom" value="Sign Up">
  </div>
</form>
  <%- include("partials/footer") -%>